@font-face {
  font-family: "Alfa Slab One";
  src: url(../fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Carter One";
  src: url(../fonts/Carter_One/CarterOne-Regular.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cookie";
  src: url(../fonts/Cookie/Cookie-Regular.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url(../fonts/Caveat/Caveat-VariableFont_wght.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

main {
  width: clamp(500px, 70vw, 900px);
  min-height: 100vh;
  margin: 0px auto;
  padding: 60px 0;
  border-right: 70px solid #03699a;
  border-left: 70px solid #e2252a;
  background: url(../img/hw-5/road-5b.jpg);
  background-position: center;
  background-size: cover;
}

div {
  text-align: center;
  margin: 50px 0;
}

.quote-1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 4.5rem;
  color: #dc6464;
  line-height: 4.9rem;
}

.quote-2 {
  font-family: "Carter One", cursive;
  font-size: 2.1rem;
  color: white;
}

.quote-3 {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-size: 3.1rem;
  line-height: 3.1rem;
  color: white;
}

.quote-4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  color: white;
}

.quote-5 {
  font-family: "Mali", cursive;
  font-weight: 600;
  font-size: 2.3rem;
  color: #fd804f;
  text-shadow: 0 0 0.4rem #fd804f;
}

.quote-6 {
  font-family: "Cookie", cursive;
  font-size: 4rem;
  color: white;
}

.quote-7 {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 0 0 0.2rem #727171;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0.4rem white;
  display: inline-block;
  margin: -2rem auto;
  transform: rotate(-8deg);
}

.signature {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: right;
  color: white;
  padding: 30px;
}

.ferrari {
  color: #ff2914;
  font-weight: 700;
}

.link-back {
  color: white;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  background: #e29844;
  display: inline-block;
  border-radius: 3px;
  padding: 0 10px;
  margin-left: 20px;
}
